.profile__button-edit {
  width: 24px;
  height: 24px;
  margin: 15px 0 auto 18px;
  background-image: url(../../../images/profile__button-edit.png);
  background-size: cover;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 621px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: 8px auto auto 10px;
  }
}
